.background{
	background-image: url(https://wallpapercave.com/wp/kOJx6aP.jpg);
	 height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 text-align: left;
	
	color:white;

}
h1,h3,h5{
	font-family: impact;
	color:white;

}
p{
	font-family: Helvetica;
	opacity:0.8;
}
body{
	background-color: black;
}
